/* Add.css */

.addSection {
  height: 100vh;
  background: url("../../background1.jpg") center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: multiply;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labelAdd {
  margin-top: 10px;
  font-weight: bold;
}



.city-input,
.address-input,
.basket-input,
.basket-input,
.tennis-input,
.pret-input,
.doc-input,
.textAreaAdd {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
}

.textAreaAdd {
  height: 100px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-right: 5px;
  margin-top: 2px;
}

.error-message {
  align-self: center;
  max-width: 200px;
  text-align: center;
}

.error-message p {
  color: red;
  font-size: 0.85rem;
}

.loading-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency here */
}

.loading-box {
  position: relative; /* Added position relative */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px; /* Adjust the width as desired */
  height: 200px; /* Adjust the height as desired */
  background-color: rgba(255, 255, 255, 0.9); /* White background color with transparency */
  border-radius: 8px; /* Rounded corners */
  z-index: 1; /* Set higher z-index to display on top */
}

.loading-image {
  max-width: 100px;
  max-height: 100px;
  z-index: 2; /* Set higher z-index to display on top of the loading box */
}