/* Add.css */

.addSection {
  height: 100vh;
  background: url("../../background1.jpg") center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: multiply;
}

.add-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f7f7f7;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.labelAdd {
  margin-top: 10px;
  font-weight: bold;
}

textarea,
input[type="text"],
input[type="checkbox"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  background-color: #fff;
}

textarea {
  height: 100px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container label {
  margin-right: 5px;
  margin-top: 2px;
}

.error-message {
  align-self: center;
  max-width: 200px;
  text-align: center;
}

.error-message p {
  color: red;
  font-size: 0.85rem;
}
