.navigation-container {
  background: linear-gradient(
    90deg,
    rgba(28, 27, 27, 0.7) 0%,
    rgba(26, 23, 23, 0.7) 100%
  );
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 999;
}

.credentials-container {
  width: 20%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid;
  border-radius: 2px;
  color: white;
}

.credentials-container > h5 {
  margin-left: 5%;
}

.buttons-container {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
