.registerSection {
  height: 100vh;
  background: url("../background1.jpg") center center/cover no-repeat;
  background-color: gray;
  background-blend-mode: multiply;
}

.registerSection .register-container {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);

  align-self: center;
  justify-content: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-color: black;
  border-style: none;
  border-radius: 30px;

  padding: 1%;
}

.registerSection .register-form {
  display: flex;
  flex-direction: column;
}

.registerSection h1 {
  margin-bottom: 20px;
}

.registerSection .labelField {
  text-align: left;
  margin-top: 10%;
  padding: 0rem 0;
  font-size: 1.2rem;
}

.registerSection input {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

.registerSection .checkbox-container {
  margin-bottom: 40%;
}

.registerSection .linkRegister {
  margin-top: 10%;
}

.registerSection .btn {
  padding: 8px 20px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.registerSection .btn--primary {
  background-color: rgba(255, 255, 255, 0.7);
  color: #242424;
  border: 1px solid rgba(255, 255, 255, 0.7);
}

.registerSection .btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.registerSection .btn--medium:hover {
  transition: all 0.3s ease-out;
  background: #fff;
  color: #242424;
  transition: 250ms;
}

.registerSection select {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}
